<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OurBnb</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> <!-- Icons for buttons -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" >
    </head>
    <body>
        <%- include('includes/header') %>
        <header>
            <div class="welcome">
                <h1><% if (user) { %>
                    <%=user.firstName%>,
                    <% }%>
                    Your next adventure is here!</h1>
            </div>  
            <section id="searchSection">
                <form id="searchForm" method="GET" action="/"  class="searchContainer">
                    <div class="searchbar">
                        <div class="SubSearch">
                            <input type="text" id="searchQuery" class="searchbox" name="searchQuery" placeholder="Search by city, country, or apartment name" />
                        </div>
                        <button type="submit" id="searchButton" class="searchbutton"> <i class="fas fa-search"></i> </button>
                    </div>
                  </form>
            </section>    
        </header>

        <main class="myContainer">
                <div class="apartments">
                    <% if (apartmentList.length > 0) { %>
                        <div class="gallery">
                            <% for (let apartment of apartmentList) { %>
                                
                                <div class="imghold overflows">
                                    <a href=<%="/apartment/" + apartment.id %>>
                                        <img src="<%=apartment.imageUrl%>" alt="" class="listimage " />
                                    </a>
                                    <div class="picdescription">
                                        <div class="locationName"> 
                                            $<%=apartment.price%> - <%=apartment.name%>
                                        </div>
                                        <div class="city">
                                            <%=apartment.location.city%>,<%=apartment.location.country %>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    <% } else { %>
                        <h1>No apartments Found!</h1>
                    <% } %>
                </div>
        </main>
        <%- include('includes/footer') %>
    </body>
</html>